/*!
Theme Name: Schrimsher
Theme URI:
Description: This theme powers Schrimsher Properties
Version: 1.0.1
Author: Rob Clark
Author URI: https://pixelwatt.com
Tags: 

*/

@import "css/bootstrap/bootstrap.less";

.modal {
    z-index: 9999 !important;
}

.btn {
    text-decoration: underline;
    
    &:hover {
        text-decoration: underline;
    }
}

.flex-container {
    display: flex;
    align-items: center;
    
    .flex-content {
        width: 100%;
    }
}

.form-email-signup {
    padding: 20px;
    background-color: #232C4D;
    
    h2 {
        font-size: 36px;
        font-weight: 900;
        color: #92A9FF;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    p {
        color: #fff;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 17px;
        line-height: 1.5;
    }
    
    .form-group {
        margin-bottom: 0px;
    }
    
    input.form-control {
        font-size: 14px;
        font-weight: 500;
    }
    
    .btn[type='submit'] {
        margin-top: 15px;
        font-weight: 700;
    }
}

.form-find-a-space {
    padding: 20px;
    border: 1px solid #979797;
    border-top: 6px solid #6585FF;
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    
    h2 {
        font-size: 36px;
        font-weight: 900;
        color: #0426A7;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .styled-select {
        border: 1px solid #ccc;
        background: #fff;
        overflow: hidden;
        height: 48px;
        margin-bottom: 15px;
        
        select {
            //width: 120%;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.42857143;
            background-color: transparent;
            padding-left: 40px;
            background-image: url(images/form-find-a-space-arrow.png);
            background-position: right center;
            background-repeat: no-repeat;
        }
        
        &.location-select {
            background-image: url(images/form-find-a-space-location.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
        
        &.use-select {
            background-image: url(images/form-find-a-space-use.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
        
        &.size-select {
            background-image: url(images/form-find-a-space-size.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
    }
    input.form-control {
        font-size: 14px;
        font-weight: 500;
        background-image: url(images/form-find-a-space-size.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 45px;
        
        @media (max-width: @screen-sm-max) {
            margin-bottom: 15px;
            
            &[name='sqft_max'] {
                margin-bottom: 0px;
            }
        }
    }
    .btn[type='submit'] {
        margin-top: 15px;
        font-weight: 700;
    }
    
    @media (max-width: @screen-xs-max) {
        margin-top: 30px;
    }
}

.navbar {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 9000;
    
    .navbar-right {
        @media (min-width: @grid-float-breakpoint) {
            padding-top: 20px;
            
            li.contact-link {
                margin-left: 10px;
                a {
                    background-color: #6585FF;
                }
            }
        }
        
        a {
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px !important;
            position: relative;
            
            
        }
        
        li.active {
            a:after {
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: 8px;
                height: 3px;
                background-color: #6585FF;
                content: ' ';
            }
        }
    }
    
    @media (max-width: @grid-float-breakpoint-max) {
        background-color: #516FE2;
        height: 80px;
        top: 0px;
        
        .container-fluid {
            background-color: #516FE2;
        }
        .navbar-header {
            height: 80px;
        }
        .navbar-toggle {
            margin-top: 22px;
        }
        .navbar-brand {
            padding-top: 9px;
        }
    }
    
    @media (max-width: 400px) {
        .navbar-brand {
            width: 200px;
            margin-top: 12px;
            img {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}

header {
    background-color: gray;
    
    &.header-newsroom {
        background-image: url(images/header-newsroom-bg.jpg);
        background-position: center top;
        background-size: cover;
        
        
    }
    
    &.header-company {
        	background-position: center top;
			background-size: cover;
            
            .header-content {
                height: 500px;
                position: relative;
                pointer-events: none;
                
                h1, h2 {
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    font-size: 100px;
                    font-weight: 900;
                    color: #fff;
                    line-height: 1;
                    margin-bottom: 0px;
                }
            }
    }
    
    .title-container {
        h1, h2 {
            font-size: 64px;
            font-weight: 900;
            margin: 0;
            padding-top: 25px;
            padding-bottom: 25px;
            
            @media (max-width: @screen-xs-max) {
                font-size: 40px;
            }
        }
    }
    
    &.header-internal {
        background-position: center center;
        background-size: cover;
        .header-container {
            background-image: url(images/header-internal-shade.png);
            background-repeat: repeat-x;
            background-position: center top;
        }
        .title-container {
            background-color: rgba(101,133,255,0.9);
            color: #fff;
            width: auto;
            display: inline-block;
            
            
            
            
            .title-container-intro {
                display: inline-block;
                p {
                    display: block;
                    max-width: 600px !important;
                    font-size: 24px;
                    font-weight: 300;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    strong {
                        font-weight: 900;
                    }
                    
                    @media (max-width: @screen-xs-max) {
                        font-size: 20px;
                    }
                }
            }
        }
        
        .title-container-subhead {
            position: relative;
            display: inline-block;
            margin-top: -20px;
            margin-left: 45px;
            background-color: rgb(255,255,255,0.9);
            color: #516FE2;
            font-size: 28px;
            width: auto;
            padding: 10px 20px;
            p {
                margin: 0px;
                padding: 0px;
                font-weight: 300;
            }
            
            .property-share {
	            font-size: 18px;
	            
	            h4 {
		            font-size: 18px;
		            font-weight: 900;
		            display: inline-block;
		            vertical-align: middle;
	            }
	            
	            ul {
		            display: inline-block;
		            padding: 0;
		            margin: 0;
		            font-size: 20px;
		            vertical-align: middle;
		            
		            li {
			            display: inline-block;
			            list-style: none;
			            margin-left: 8px;
		            }
	            }
            }
            
            @media (max-width: @screen-xs-max) {
                font-size: 18px;
                margin-left: 35px;
            }
            
        }
    }
    
    &.header-inverse {
        .title-container {
            background-color: #fff;
            background-color: rgba(255,255,255,0.9);
            color: #516FE2;
        }
    }
    
    &.header-450 {
        height: 450px;
        
        .header-container {
            height: 450px;
        }
    }
    
    &.header-600 {
        height: 600px;
        
        .header-container {
            height: 600px;
        }
    }
    
    &.header-650 {
        height: 650px;
        
        .header-container {
            height: 650px;
        }
    }
    
    .header-container {
        padding-top: 216px;
        
        .title-container {
            display: inline-block;
            padding-left: 30px;
            padding-right: 30px;
        }
        
        @media (max-width: @screen-xs-max) {
            padding-top: 125px;
        }
    }
    
    &#header-front {
        height: 750px;
        z-index: 1;
        
        .container-fluid {
            padding: 0;
            
            .row {
                margin: 0;
            }
        }
        
        .header-front-left, .header-front-right {
            height: 750px;
            background-size: cover;
            .flex-container {
                height: 750px;
                color: #fff;
                h2 {
                    color: #fff;
                    font-size: 36px;
                    font-weight: 900;
                    
                    &:before {
                        display: block;
                        height: 120px;
                        content: ' ';
                        background-position: center center;
                        background-repeat: no-repeat;
                        margin-bottom: 30px;
                    }
                }
                p {
                    font-size: 18px;
                    margin-bottom: 25px;
                }
                .btn {
                    background-color: #fff;
                    color: #6585FF;
                }
            }
        }
        
        .header-front-left {
            background-image: url(images/header-front-left-bg.jpg);
            background-position: right top;
            
            h2 {
                &:before {
                    .img-retina("images/header-front-left-h2-bg.png", "images/header-front-left-h2-bg-2x.png", 72px, 120px);
                }
            }
            
        }
        
        .header-front-right {
            background-image: url(images/header-front-right-bg.jpg);
            background-position: left top;
            
            h2 {
                &:before {
                    .img-retina("images/header-front-right-h2-bg.png", "images/header-front-right-h2-bg-2x.png", 147px, 120px);
                }
            }
        }
    }
    
    @media (max-width: @screen-sm-max) {
        height: auto !important;
        padding-bottom: 40px;
        
        .header-container {
            height: auto !important;    
        }
    }
}

#front-find-a-space {
    padding: 60px 0;
    h2 {
        font-size: 36px;
        font-weight: 900;
        color: #232C4D;
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .styled-select {
        border: 1px solid #ccc;
        background: #fff;
        overflow: hidden;
        height: 48px;
        //margin-bottom: 15px;
        
        select {
            //width: 120%;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.42857143;
            background-color: transparent;
            padding-left: 40px;
            background-image: url(images/form-find-a-space-arrow.png);
            background-position: right center;
            background-repeat: no-repeat;
        }
        
        &.location-select {
            background-image: url(images/form-find-a-space-location.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
        
        &.use-select {
            background-image: url(images/form-find-a-space-use.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
        
        &.size-select {
            background-image: url(images/form-find-a-space-size.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
    }
    input.form-control {
        font-size: 14px;
        font-weight: 500;
        background-image: url(images/form-find-a-space-size.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 45px;
    }
    .btn[type='submit'] {
        margin-top: 15px;
        font-weight: 700;
    }
}

.featured-properties {
    h2 {
        font-size: 36px;
        color: #fff;
        font-weight: 900;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    
    padding: 60px 0;
    background-color: #020C33;
    
    .featured-property {
        @media (max-width: @screen-xs-max) {
            margin-bottom: 15px;
        }
    }
    
    .featured-property-inner {
        background: #fff;
        .featured-property-content {
            padding: 5px;
        }
        .featured-property-content-img {
            position: relative;
            .item-status {
                position: absolute;
                display: inline-block;
                padding: 10px;
                top: 20px;
                right: 0;
                background-color: @brand-primary;
                font-weight: 900;
                font-size: 16px;
                line-height: 1;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 1px;
            }
        }
        .featured-property-meta {
            padding: 25px 15px;
            
            h3 {
                margin: 0;
                font-size: 30px;
                font-weight: 900;
                color: #020C33;
                margin-bottom: 20px;
                
                &:after {
                    display: block;
                    width: 116px;
                    height: 4px;
                    background-color: #516FE2;
                    margin-top: 7px;
                    content: ' ';
                }
            }
            
            p {
                margin: 0;
                font-size: 16px;
                color: #020C33;
            }
        }
    }
}

#front-latest-news {
    padding: 60px 0;
    h2 {
        font-size: 36px;
        color: #232C4D;
        font-weight: 900;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    
    .latest-news-items {
        .latest-news-item {
            h3 {
                font-size: 28px;
                font-weight: 700;
                margin-top: 0px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
            a {
                color: #313E70;
            }
            .item-date {
                display: inline-block;
                padding: 10px;
                background-color: @brand-primary;
                font-weight: 700;
                font-size: 16px;
                line-height: 1;
                color: #fff;
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                color: #232C4D;
                line-height: 1.6;
            }
            .item-read-more {
                font-size: 20px;
                color: @brand-primary;
                font-weight: 700;
                text-decoration: underline;
            }
        }
    }
}

.newsroom-listing {
    padding-top: 30px;
    
    .newsroom-listing-cell {
        margin-bottom: 30px;
        color: #fff;
        
        a {
            color: #fff;
        }
        
        .item-inner {
            background-color: @brand-primary;
        }
        
        .item-image {
            position: relative;
            
            .item-date {
                position: absolute;
                display: inline-block;
                padding: 10px;
                top: 30px;
                right: 0;
                background-color: @brand-primary;
                font-weight: 700;
                font-size: 16px;
                line-height: 1;
            }
        }
        
        .item-meta {
            padding: 30px;
            
            .item-excerpt {
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 20px;
            }
            
            h2 {
                padding: 0;
                font-size: 24px;
                font-weight: 900;
                margin: 0 0 20px 0;
            }
            
            .item-categories {
                min-height: 24px;
                padding: 0 0 0 35px;
                margin: 0;
                .img-retina("images/newsroom-listing-cell-cats-bg.png", "newsroom-listing-cell-cats-bg-2x.png", 24px, 24px);
                background-position: left top;
                background-repeat: no-repeat;
                
                li {
                    list-style: none;
                    display: inline-block;
                    font-weight: 500;
                    
                    a {
                        text-decoration: underline;
                    }
                    
                    &:after {
                        content: ',';
                        margin-right: 5px;
                    }
                    
                    &:last-of-type {
                        &:after {
                            content: '';
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
        
        .btn {
            background-color: #516FE2;
            padding-top: 15px;
            padding-bottom: 15px;
            
            &:hover {
                background-color: darken(#516FE2, 10%);
            }
        }
        
        &.newsroom-listing-cell-large {
            .item-meta {
                h2 {
                    font-size: 28px;
                }
            }
        }
    }  
}

.newsroom-single {
    padding-top: 30px;
    padding-bottom: 30px;
    
    .newsroom-single-content {
        h1 {
            font-size: 48px;
            color: #232C4D;
            font-weight: 900;
            margin-top: 0px;
            margin-bottom: 20px;
        }
        
        .item-date {
            display: inline-block;
            padding: 10px;
            background-color: @brand-primary;
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            color: #fff;
            margin-bottom: 30px;
        }
        
        font-size: 16px;
        line-height: 1.5;
        
        p, ul, blockquote, div {
            margin-bottom: 20px;
        }
    }
}

.newsroom-sidebar {
    margin-top: -110px;
    .form-find-a-space {
        margin-bottom: 30px;
        background-color: #fff;
    }
}

.page-template-page-template-properties {
    #properties-bar {
        .container-fluid {
            padding: 0;
            
            .row {
                margin: 0;
            }
        }
        .properties-bar-item {
            padding-top: 40px;
            padding-left: 0;
            padding-right: 0;
            
            .img-responsive {
                margin-left: auto;
                margin-right: auto;
            }
            
            .properties-bar-item-content {
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 20px;
            }
            h3 {
                font-size: 26px;
                color: #fff;
                font-weight: 900;
            }
            
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.5;
                color: #fff;
            }
            
            .btn {
                color: #fff;
                background-color: rgba(0,0,0,0.2);
                
                &:hover {
                    background-color: rgba(0,0,0,0.4);    
                }
            }
            
            background-color: #5671DA;
            
            &:first-of-type {
                background-color: #4B62BB;
            }
            
            &:last-of-type {
                background-color: #6585FF;
            }
        }    
    }
}

.page-template-page-template-development {
    header {
        border-bottom: 4px solid #516FE2;
    }
    
    .page-content {
        .container-fluid {
            padding: 0;
            
            .row {
                margin: 0;
            }
        }
    }
    
    .property {
        border-bottom: 4px solid #516FE2;
        
        .item-status {
            display: inline-block;
            padding: 10px;
            margin-top: 50px;
            background-color: @brand-primary;
            font-weight: 900;
            font-size: 16px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 1px;
        }
        
        .property-meta, .property-image, .flex-container {
            height: 600px;
        }
        
        .property-image {
            padding: 0;
        }
        
        h2 {
            font-size: 48px;
            font-weight: 900;
            color: #fff;
            margin-bottom: 20px;
            margin-top: 0;
        }
        
        p {
            font-size: 22px;
            font-weight: 300;
            max-width: 460px;
            margin-left: auto;
            margin-right: auto;
            color: #fff;
            margin-bottom: 30px;
        }
        
        .btn {
            background-color: #fff;
            color: @brand-primary;
        }
        
        &.property-odd {
            background-color: #6585FF;
            
            .property-image {
                background-color: darken(#6585FF, 10%);  
                background-image: url(images/property-odd-temp-bg.jpg);
                background-position: center center;
                background-size: cover;  
                text-align: right;
            }
        }
        
        &.property-even {
            background-color: #516FE2;
            
            .property-image {
                background-color: darken(#516FE2, 10%);  
                background-image: url(images/property-even-temp-bg.jpg);
                background-position: center center;
                background-size: cover;  
                text-align: left;  
            }
        }
        
        &:last-of-type {
            border-bottom: none;
        }
    }
}

.page-template-page-template-huntsville,
.page-template-default {
    header {
        border-bottom: 4px solid #516FE2;
    }
    .page-content {
        padding: 60px 0;
        
        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
            
            &.lead {
                margin-top: 0px;
                font-weight: 300;
                font-size: 28px;
                line-height: 1.3;
                
                strong {
                    font-weight: 900;
                }
            }
        }
    }
}

.page-template-page-template-contact {
    header {
        border-bottom: 4px solid #516FE2;
    }
    .page-content {
        padding: 60px 0;
        
        h3 {
            font-size: 36px;
            font-weight: 900;
            margin-top: 0px;
            color: #232C4D;
        }
        
        .nf-form-fields-required {
            font-size: 16px;
            color: #4A4A4A;
            margin-bottom: 20px;
            
            .ninja-forms-req-symbol {
                color: #6585FF;
                font-weight: 700;
            }
        }
        
        .submit-wrap {
            .btn-primary {
                background-color: @brand-primary !important;
                color: #fff !important;
            }
        }
    }
}

.contact-map {
    .container-fluid {
        padding: 0;
        .row {
            margin: 0;
        }
    }
    .contact-map-info {
        background-color: #6585FF;
        
        .inner {
            height: 600px;
            display: flex;
            align-items: center;
            
            .inner-content {
                width: 100%;
                
                p {
                    font-size: 18px;
                    line-height: 1.5;
                    color: #fff;
                    font-weight: 400;
                    margin-bottom: 20px;
                    
                    span {
                        display: block;
                    }
                    
                    a {
                        color: #fff;
                    }
                    
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                
                img.img-responsive {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 35px;
                }
            }
        }
        
        .contact-map-social {
            padding: 0;
            margin: 20px 0 0 0;
            
            li {
                list-style: none;
                display: inline-block;
                margin: 0 2px;
            }
        }
    }
    #map {
        height: 600px;
    }
    
    .contact-map-embed {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    @media (max-width: @screen-sm-max) {
        .contact-map-info {
            .inner {
                height: 400px;
                
                .inner-content {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
        
        #map {
            height: 300px;
        }
    }
}

#availability-search {
    padding: 60px 0;
    
    .search-filters-form {
        padding: 20px;
        background-color: #516FE2;
        border-top: 6px solid #0426A7;
        
        h3 {
            margin-top: 0px;
            margin-bottom: 15px;
            font-size: 30px;
            font-weight: 900;
            color: #fff;
        }
        
        label {
            color: #fff;
        }
        
        .styled-select {
            border: 1px solid #ccc;
            background: #fff;
            overflow: hidden;
            height: 48px;
            //margin-bottom: 15px;
            
            select {
                //width: 120%;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                border: none;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.42857143;
                background-color: transparent;
                background-image: url(images/form-find-a-space-arrow.png);
                background-position: right center;
                background-repeat: no-repeat;
            }
        }
        
        input.form-control {
            font-size: 14px;
            font-weight: 500;
            //background-image: url(images/form-find-a-space-size.png);
            //background-position: left center;
            //background-repeat: no-repeat;
            //padding-left: 45px;
        }
        
    }
    
    .search-results {
        h2 {
            color: #0426A7;
            font-size: 48px;
            font-weight: 900;
            margin-top: 0px;
            margin-bottom: 20px;
        }
        
        .search-result {
            margin-bottom: 30px;
            border: 1px solid #C4C4C4;
        }
        
        .search-result-image {
            .search-result-image-container {
                background-color: @gray;
                background-position: center center;
                background-size: cover;
                position: relative;
                
                @media (max-width: @screen-sm-max) {
                    height: 300px;
                }
                
                .property {
                    position: absolute;
                    display: inline-block;
                    margin-top: 30px;
                    background-color: #6585FF;
                    padding: 10px;
                    font-weight: 700;
                    color: #fff;
                    top: 0px;
                    right: 0px;
                    
                    .fa {
                        margin-right: 5px;
                    }
                    
                    a {
                        color: #fff;
                    }
                }
            }
        }
        
        .search-result-content-inner {
            @media (max-width: @screen-sm-max) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        
        h3 {
            font-size: 30px;
            font-weight: 900;
            color: #020C33;
            margin-bottom: 15px;
            margin-top: 30px;
            
            a {
                color: #020C33;
            }
            
            &:after {
                display: block;
                width: 116px;
                height: 4px;
                background-color: #516FE2;
                content: ' ';
                margin-top: 7px;
            }
        }
        
        .search-result-meta {
            margin-bottom: 20px;
            span {
                display: inline-block;
                margin-right: 10px;
                background-color: #6585FF;
                padding: 10px;
                font-weight: 900;
                color: #fff;
                
                .fa {
                    margin-right: 5px;
                }
                
                a {
                    color: #fff;
                }
            }
        }
        
        .search-result-buttons {
            margin-left: -30px;
            margin-top: 20px;
            
            @media (max-width: @screen-sm-max) {
                margin-left: -20px;
                margin-right: -20px;
            }
            
            .row {
                margin: 0;
                
                div {
                    padding: 0;
                }
            }
            a.btn {
                color: #fff;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            
            a.btn-inquire {
                background-color: #6585FF;
                
                &:hover {
                    background-color: darken(#6585FF, 15%);
                }
            }
            
            a.btn-view {
                background-color: #516FE2;
                
                &:hover {
                    background-color: darken(#516FE2, 15%);
                }
            }
        }
        
        p {
            font-weight: 500;
            padding-right: 40px;
            line-height: 1.5;
        }
    }
    
}

.single-properties,
.single-projects {
    .page-content {
        h2 {
            font-size: 48px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 30px;
        }
        .property-intro {
            padding: 40px 0;
            color: #fff;
            background-color: #516FE2;
            
            a {
	            color: #fff;
	            text-decoration: underline;
            }
            
            p.lead {
                font-size: 20px;
                line-height: 1.4;
                font-weight: 400;
            }
            
            ul {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                padding: 0;
                margin: 0;
                border-top: 2px solid #6D8CFF;
                
                li {
                    list-style: none;
                    padding: 18px 0;
                    border-bottom: 2px solid #6D8CFF;
                }
            }
            
            .property-gallery {
                padding-top: 40px;
            }
            
            .property-form-container {
                position: relative;
                
                @media (max-width: @screen-sm-max) {
                    padding-top: 40px;
                }
                .property-form-container-inner {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #fff;
                    background-color: rgba(255,255,255,0.9);
                    padding: 15px;
                    color: #4A4A4A;
                    border-top: 6px solid #6585FF;
                    
                    @media (max-width: @screen-sm-max) {
                        position: relative;
                    }
                    
                    .nf-form-cont {
                        textarea {
                            resize: none;
                            font-size: 14px;
                        }
                        .nf-form-title {
                            h3 {
                                margin-left: 10px;
                                font-size: 36px;
                                font-weight: 900;
                                color: #0426A7;
                                margin-top: 0px;
                                margin-bottom: 0px;
                            }
                        }
                        .nf-form-fields-required {
                            display: none;
                            visibility: hidden;
                        }
                        .nf-field-container {
                            margin-bottom: 10px;
                            
                            &.email-container, &.phone-container, &.firstname-container {
                                input {
                                    font-size: 14px;
                                }
                            } 
                            
                            &.submit-container {
                                margin-bottom: 0px;
                                
                                input {
                                    display: block;
                                    width: 100%;
                                    background-color: #6585FF;
                                }
                            }
                            
                            &.checkbox-container {
                                margin-bottom: 20px;
                            }
                        }
                        .nf-checked-label {
                            font-size: 14px;
                        }
                    }
                }    
            }
        }
        
        .property-availabilities {
            padding: 40px 0;
            
            h2 {
                color: #516FE2;
            }
            
            .property-availability-list {
                .property-availability-head {
                    padding: 15px 0;
                    border-top: 2px solid #E3E3E3;
                    border-bottom: 2px solid #E3E3E3;
                    font-size: 16px;
                }
                .property-availability-item {
                    padding: 15px 0;
                    border-bottom: 2px solid #E3E3E3;
                    h3 {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: 900;
                        font-size: 26px;
                        a {
                            color: #516FE2;
                            
                            &:before {
                                font-family: FontAwesome;
                                content: '\f107';
                                width: 30px;
                                display: inline-block;
                            }
                            
                            &.collapsed {
                                &:before {
                                    content: '\f105';
                                }
                            }
                        }
                        
                        @media (max-width: @screen-sm-max) {
                            font-size: 20px;
                        }
                        @media (max-width: @screen-xs-max) {
                            a:before {
                                width: 20px;
                            }
                        }
                    }
                    .item-use, .item-footage {
                        font-weight: 700;
                        color: #516FE2;
                        font-size: 16px;
                        
                        .fa {
                            font-weight: 400;
                            margin-right: 5px;
                        }
                        
                        @media (max-width: @screen-xs-max) {
                            font-weight: 400;
                            margin-top: 5px;
                        }
                    }
                    .item-use {
                        @media (max-width: @screen-xs-max) {
                            margin-top: 10px;
                        }
                    }
                    .item-description {
                        p {
                            font-size: 16px;
                            line-height: 1.5;
                        }
                    }
                    .item-inquire {
                        @media (max-width: @screen-xs-max) {
                            text-align: left;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        
        .property-floorplans {
            padding-bottom: 30px;
            h2 {
                color: #516FE2;
            }
            .property-floorplans-items {
                .floorplan-item {
                    margin-bottom: 30px;
                    .floorplan-item-inner {
                        border: 1px solid #979797;
                    }
                }
            }
        }
    }

    .property-hero {
        height: 500px;
        background-position: center center;
        background-size: cover;
    }
}

.property-map {
    height: 400px;
    
    #map {
        height: 400px;
    }
}

#availabilities-types {
    background-color: #516FE2;
    padding: 40px 0 0 0;
    
    h2 {
        margin-top: 0px;
        margin-bottom: 40px;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
    }
    
    .type-option {
        .img-responsive {
            margin-left: auto;
            margin-right: auto;
        }
        h3 {
            font-size: 24px;
            color: #fff;
            font-weight: 700;
        }
        
        label {
            cursor: pointer;
            padding-bottom: 30px;
            margin-bottom: 0px;
        }
        
        input{ /* HIDE RADIO */
          visibility: hidden; /* Makes input not-clickable */
          position: absolute; /* Remove input from document flow */
        }
        
        input[type="radio"]:checked + label {
            background-image: url(images/availabilities-types-active.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 40px 20px;
        }
    }
}

#availabilities-landing-results,
#property-inventory-results {
    padding: 60px 0;
    .search-result {
        margin-bottom: 30px;
        .left {
            padding-right: 0 !important;
            
            @media (max-width: @screen-xs-max) {
                padding-right: 15px !important;
            }
            
            .btn {
                border: none;
            }
        }
        
        .right {
            padding-left: 0 !important;
            
            @media (max-width: @screen-xs-max) {
                padding-left: 15px !important;
            }
            
            .btn {
                border: none;
                background-color: #516FE2;
                
                &:hover {
                    background-color: darken(#516FE2, 10%);    
                }
            }
        }
    }
    
    .search-result-inner {
        background-color: #F8F8F8;
        border: 1px solid #C4C4C4;
        border-left: none;
        
        .flex-container {
            padding: 20px 0;
        }
        
        .search-result-image-container {
            background-position: center center;
            background-size: cover;
        }
        
        .search-result-content {
            padding-top: 0px;
            padding-bottom: 0px;
            
            h3 {
                font-size: 24px;
                font-weight: 900;
                color: #020C33;
                margin-bottom: 15px;
                margin-top: 10px;
                
                a {
                    color: #020C33;
                }
                
                &:after {
                    display: block;
                    width: 116px;
                    height: 4px;
                    background-color: #516FE2;
                    content: ' ';
                    margin-top: 7px;
                }
            }
                
            .search-result-meta {
                margin-bottom: 0px;
                span {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    background-color: #6585FF;
                    padding: 5px 10px;
                    font-weight: 500;
                    color: #fff;
                    font-size: 12px;
                    
                    .fa {
                        margin-right: 5px;
                    }
                    
                    a {
                        color: #fff;
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
            }
        }
        
        @media (max-width: @screen-xs-max) {
            border-left: 1px solid #C4C4C4;
            
            .search-result-image-container {
                height: 300px;
            }
            
            .search-result-content .flex-content {
                padding-left: 15px !important;
            }
        }
        
        @media (max-width: 350px) {
            .search-result-image-container {
                height: 200px;
            }
        }
    }
}

#availabilities-find-a-space {
    padding: 60px 0;
    background-color: #516FE2;
    h2 {
        font-size: 36px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 25px;
        margin-top: 0px;
        
        strong {
            font-weight: 700;
        }
    }
    .styled-select {
        border: 1px solid #1A2038;
        background: #3A50A3;
        overflow: hidden;
        height: 48px;
        //margin-bottom: 15px;
        
        select {
            //width: 120%;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.42857143;
            background-color: transparent;
            padding-left: 40px;
            color: #fff;
            background-image: url(images/form-find-a-space-arrow.png);
            background-position: right center;
            background-repeat: no-repeat;
            
            option {
                color: #000;
            }
        }
        
        &.location-select {
            background-image: url(images/form-find-a-space-location.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
        
        &.use-select {
            background-image: url(images/form-find-a-space-use.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
        
        &.size-select {
            background-image: url(images/form-find-a-space-size.png);
            background-position: left center;
            background-repeat: no-repeat;
        }
    }
    input.form-control {
        font-size: 14px;
        font-weight: 500;
        background-image: url(images/form-find-a-space-size.png);
        background-position: left center;
        background-repeat: no-repeat;
        border: 1px solid #1A2038;
        background-color: #3A50A3;
        padding-left: 45px;
        color: #fff;
    }
    .btn[type='submit'] {
        margin-top: 15px;
        font-weight: 700;
    }
}

#property-inventory-filters {
    background-color: #516FE2;
    padding: 20px 0;
    
    .form-group {
        .styled-select {
            display: inline-block;
            margin-right: 30px;
            width: 200px;
            border: 1px solid #1A2038;
            background-color: #3A50A3;
            background-image: url(images/property-inventory-filters-select.png);
            background-position: right center;
            background-repeat: no-repeat;
            
            select {
                width: 200px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                border: none;
                font-size: 14px;
                font-weight: 500;
                background-color: transparent;
                color: #fff;
                option {
                    color: #000;
                }
            }
        }
        label {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            margin-right: 15px;
        }
    }
}

.company-landing-intro {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 300;
    padding: 90px 0 70px 0;
    
    strong {
        font-weight: 900;
    }
}

.company-landing-feature-cells {
    .container-fluid {
        padding: 0;
        
        .row {
            margin: 0;
        }
        
        a {
            height: 375px;
            display: block;
            position: relative;
            background-position: center center;
            background-size: cover;
            
            .featurd-cell-title {
                font-size: 24px;
                color: #fff;
                display: inline-block;
                padding: 15px 40px;
                background-color: #6585FF;
                line-height: 1;
                font-weight: 900;
                position: absolute;
                left: 0;
                bottom: 40px;
            }
        }
    }
}

.company-landing-properties {
    //padding: 90px 0;
    background-color: #3E57B4;
    
    .container-fluid {
        padding: 0;
        
        .row {
            margin: 0;
        }
    }
    
    .properties-content-container {
        background-image: url(images/company-landing-properties-bg.jpg);
        background-position: center center;
        background-size: cover;
    }
    
    .properties-content {
        padding: 90px 25px;
        font-size: 30px;
        line-height: 1.3;
        font-weight: 300;
        color: #fff;
        
        strong {
            font-weight: 900;
        }
        
        .properties-link {
            display: inline-block;
            padding: 15px 20px;
            background-color: #fff;
            line-height: 1;
            font-size: 20px;
            text-decoration: underline;
            font-weight: 900;
            color: @brand-primary;
            margin-top: 30px;
        }
        
    }
    
    .properties-types {
        padding: 90px 25px 50px 25px;
        
        .properties-type {
            margin-bottom: 40px;
            color: #fff;
            .img-responsive {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

#inquireModal {
    .modal-header {
        padding-bottom: 0px;
        border-bottom: none;
        h4.modal-title {
            font-size: 48px;
            color: #0426A7;
            font-weight: 900;
        }
        button.close {
            font-size: 40px;
            color: @brand-primary;
            margin-top: 15px;
        }
    }
    .modal-body {
        padding-top: 0px;
        
        .nf-form-content {
            padding: 10px 0 0 0;
        }
        
        .submit-wrap {
            input {
                &:extend(.btn);
                &:extend(.btn-block);
                &:extend(.btn-primary);
                &:extend(.btn-lg);
            }
        }
    }
}

#newsletterModal,
#emailModal {
    .modal-header {
        padding-bottom: 0px;
        border-bottom: none;
        h4.modal-title {
            font-size: 36px;
            color: #0426A7;
            font-weight: 900;
        }
        button.close {
            font-size: 30px;
            color: @brand-primary;
            margin-top: 10px;
        }
    }
    .modal-body {
        padding-top: 0px;
        
        .nf-form-content {
            padding: 10px 0 0 0;
        }
        
        .submit-wrap {
            input {
                &:extend(.btn);
                &:extend(.btn-block);
                &:extend(.btn-primary);
                &:extend(.btn-lg);
            }
        }
    }
}

#emailModal {
	//.nf-form-fields-required {
	//	display: none;
	//	visibility: hidden;
	//}
}

footer {
    .footer-top {
        background-color: #232C4D;
        padding: 60px 0 30px 0;
        
        h4 {
            color: #6585FF;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-top: 0px;
        }  
        
        .footer-top-newsletter {
            p {
                font-size: 14px;
                line-height: 1.5;
                color: #fff;
            }
        }
        
        .footer-top-menu, .footer-top-address {
            font-size: 15px;
            line-height: 1.7;
            font-weight: 500;
            color: #fff;
            
            ul, p {
                padding: 0;
                margin: 0;
                color: #fff;
                a {
                    color: #fff;
                }
                li {
                    list-style: none;
                }
            }
            
            p {
                span {
                    display: block;
                }
            }
        }
    }
    .footer-bottom {
        background-color: #1A2038;
        padding: 20px 0;
        color: #fff;
    }
    .footer-bottom-copyright {
        span {
            display: inline-block;
            vertical-align: middle;
        }
        .footer-logo {
            height: 41px;
            background-repeat: no-repeat;
            
        }
        .footer-copyright {
            margin-left: 20px;
            a {
                font-weight: 700;
                text-decoration: underline;
                color: #fff;
            }
        }
    }
    
    .footer-bottom-social {
        text-align: right;
        ul {
            display: inline-block;
            padding: 0;
            margin: 0;
            
            li {
                list-style: none;
                display: inline-block;
                font-size: 30px;
                margin-left: 15px;
                
                a {
                    color: #ABBCFF;
                    
                    &:hover {
                        color: lighten(#ABBCFF, 10%);
                    }
                }
            }
        }
    }
}